language: python

python:
  - '3.7'

install:
  - sudo mkdir -p /cse && sudo chmod a+rwx /cse
  - pip install .
  - pip install tox

script:
  - pip list --format=columns | grep container-service-extension
  - python -c 'import pkg_resources; print(pkg_resources.require("container_service_extension")[0].version)'
  - cse version
  - tox -e flake8
