[Unit]
Description=Container Service Extension for VMware vCloud Director
Wants=network-online.target,rabbitmq-server.service
After=network-online.target,rabbitmq-server.service

[Service]
ExecStart=/home/vmware/cse.sh
Type=simple
User=vmware
WorkingDirectory=/home/vmware

[Install]
WantedBy=default.target
