[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "<4.0.0,>=3.1.1"
certifi = ">=2022.12.07"
click = "<8.0.0,>=7.1.2"
cryptography = ">=39.0.1,<40.0.0"
dataclasses-json = ">=0.5.6,<1.0.0"
humanfriendly = "<5.0,>=4.8"
lru-dict = ">=1.1.7,<2.0.0"
lxml = "<5.0.0,>=4.6.3"
paho-mqtt = "<1.6.0,>=1.5.1"
pika = "<2.0.0,>=1.2.0"
pyvcloud = ">=23.0.4,<23.1.0"
pyvmomi = ">=6.7.3,<7.0.0"
pyyaml = "<=6.0.0,>=5.4.1"
requests = ">=2.26.0,<3.0.0"
semantic-version = ">=2.8.5,<3.0.0"
six = "<2.0.0,>=1.16.0"
urllib3 = "<2.0.0,>=1.26.6"
validators = "~=0.18.2"
vcd-cli = ">=24.1.0,<25.0.0"
vsphere-guest-run = ">=0.0.7,<1.0.0"

[dev-packages]

[requires]
python_version = "3.8"
