# Commented versions are the versions being picked up for CSE 3.1 by default
# as of 2021-30-03

# cachetools 3.1.1
cachetools >= 2.0.1, < 4.0.0

# cryptography 3.4.7
cryptography >= 3.2, < 4.0

# humanfriendly 4.18
humanfriendly >= 4.8, < 5.0

# lru-dict 1.1.7
lru-dict >=1.1.6, < 2.0.0

#paho-mqtt 1.5.1
paho-mqtt >=1.5.0, < 1.6.0

# pika 1.2.0
pika >= 1.0.0, < 2.0.0

# pyvcloud 23.0.2
pyvcloud == 23.0.3.dev12

# pyvmomi 6.7.3
pyvmomi >= 6.7.0, < 7.0.0

# semantic-version 2.8.5
semantic-version >= 2.8.4, < 3.0.0

# validators 0.18.2
validators ~= 0.18.2

# vcd-cli 24.0.1
vcd-cli >= 24.0.1, < 25.0.0

# vsphere-guest-run 0.0.7
vsphere-guest-run >= 0.0.7, < 1.0.0

# dataclasses-json
dataclasses-json >= 0.5.2, < 1.0.0

setuptools~=57.1.0
six~=1.16.0
virtualenv~=20.7.2
wheel~=0.36.2
requests~=2.26.0
pytest~=6.2.4
certifi~=2021.5.30
urllib3~=1.26.6
lxml~=4.6.3
PyYAML~=5.4.1
click~=8.0.1